html,body{padding-top:20px;padding-bottom:10px}
body{font-size:15px}
a{color:#d00;text-decoration:none}
li{line-height:25px}
ol,ul{list-style-position:inside}
ol ul,ul ol,ul ul,ol ol{margin-left:5px}
h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:26.25px;color:#000}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:22.25px;color:#111}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:18.25px;color:#222}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:14.25px;color:#333}
pre,code{font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;font-size:13px}
code{background-color:#f7f7f7}
embed,object,iframe{display:block;margin:4px auto}
.gist{font-size:12px;line-height:1.6}
#sidebar .list-group,#sidebar .list-group-item{background-color:transparent}
.list-group-item{border:0}
.entry-content a{text-decoration:none;border-bottom:1px dotted}
.entry-content a:hover{text-decoration:none;border-bottom:1px solid}
.entry-content img{max-width:100%;height:auto}
.entry-title {line-height: normal;text-shadow: 1px 1px 3px rgba(0,0,0,0.3);}
.entry-title h1{color:red}
#sidebar{padding-top:0}
#sidebar a{color:inherit}
i{margin-right:10px}
#toTop{width:40px;height:64px;background:#555;background:rgba(85,85,85,0.3);position:fixed;bottom:20px;right:20px;text-align:center;cursor:pointer;display:none}
#toTop a{display:block;width:40px;height:32px;font-size:26px;line-height:32px;font-family:verdana,arial;color:#fff;text-decoration:none;background:0}
#toTop a:hover{background:#3d5998}
.page-header {padding-bottom: 0px;}
.under_line {border-bottom: 1px solid #e8e8e8;padding-bottom: 5px;}
